<div class="slider-wrapper">
    <div class="slider-cards">
    <button class="slider-button slider-left-button">←</button>
        <div class="slider-card">
            <img src="/Images/london.jpg" alt="Alternate Text" />
        </div>
        <div class="slider-card">
            <img src="/Images/ny.jpg" alt="Alternate Text" />
        </div>
        <div class="slider-card">
            <img src="/Images/spb.jpg" alt="Alternate Text" />
        </div>
    <button class="slider-button slider-right-button">→</button>
    </div>
</div>

<script src="../../Static/JS/slider.js"></script>